@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*{
    padding: 0;
    margin: 0;
}
body, html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: #444452;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    width: 100%;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

#hero{
    /* background-color: rgb(39, 39, 39); */
    background-color: rgb(39, 39, 39);
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
hr{
    color: #fff;
}
.social-link a{
    /* color: #444452d0; */
    /* color: #595959d0; */
    color: #fff;
    margin-left: 4px;
    text-decoration: none;
}
.social-link a:hover{
    /* color: #444452d0; */
    /* color: #bd075fd0; */
    color: #c7c7c7f7;
    text-decoration: underline;
}
section{
    /* padding: 50px 10%; */
    /* padding: 50px 12%; */
    padding: 60px 10%;
    /* height: 100vh; */
    /* display: flex; */
    /* margin: 0 auto; */
}
#intro{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#home{
    /* padding-top: 0; */
    padding-top: 10rem;
}

.col-lg-4{
    padding-bottom: 1rem;
}
.col-lg-8{
    text-align: none;
}

#about h3, #skill h3, #project h3{
    color: #007bff;
}
.container{
    width: 100%;
}
.img-fluid{
    border-radius: 50%;
    height: 150px;
    width: auto;
}
.hello{
    /* font-size: x-large; */
    /* font-size: 2.5rem; */
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: rgb(65, 65, 65);
}
.name{
    color: rgb(112, 112, 112);
    /* font-size: 2.5rem; */
    font-size: 1.5rem;
} 
.home-content{
    padding-top: 30px;
    color: #333333ba;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* font-size: x-large; */
    /* font-size: 2.5rem; */
    font-size: 1.5rem;
    width: 50%;
}
/* p {
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
.fa-laptop-code{
    color: #333333ba;
}
/* Currently not used */
.btn{
    background-color: rgb(61, 36, 202);
    border-radius: 10px;
    border-color: #fff;
    font-size: medium;
    font-weight: 400;
    margin-top: 1.5rem;
    padding: 5px;
}
.btn a{
    color: #fff;
    text-decoration: none;
}
/* End currently not used */

.fa-hand-point-right{
    color: rgb(219, 156, 74);
}
#get-in-touch{
    font-size: small;
    font-weight: 400;
    margin-top: 2rem;
    /* margin-bottom: 1.5rem; */
}
#get-in-touch a{
    color: rgb(17, 59, 158);
    text-decoration: none;
}
#get-in-touch a:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.5sec ease-in-out;
}

.badge{
    background: var(--bs-gray);
    color: var(--bs-light);
    font-size: small;
}

#p{
    /* color: #5c5c5c; */
    color: #4b4b4b;
    font-family: 'Montserrat', sans-serif;
}

a {
    /* color: #5a656e; */
    color: rgb(32, 32, 32);
    text-decoration: none;
}

a:hover {
    /* color: #dd5a92;
    color: #d43076; */

    /* color: rgb(3, 87, 183); */
    color: rebeccapurple;
    
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

@media(max-width:992px){
    #about h3, #skill h3, #project h3{
        text-align: left;
    }
}

@media(max-width:576px) {
    .name, #p{
        /* font-family: 'Poppins', sans-serif; */
        font-weight: 400;
        /* font-size: 1rem; */
        font-size: medium;
        
    }
    .home-content{
        /* font-family: 'Poppins', sans-serif; */
        font-weight: 400;
        /* font-size: 1rem; */
        font-size: medium;
        width: 96%;
    }
    #about h3, #skill h3, #project h3{
        text-align: left;
    }
}



